* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-bage {
  margin: 50px auto;
  max-width: 900px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.strategy_plan{
    margin-top: 30px;

}
.identify-unit{
    color: #bd9d6c;
    font-weight: bold;
    cursor:pointer; 
    transition: all 0.3s;
}
.identify-unit:hover{
    text-decoration: underline;
}